


<link rel="stylesheet" href="/css/user_sign_in.css">
<div class="loginBox">
        <img src="/images/LoginIconAppl.png" class="user">
        <h2>Log In Here</h2>
<form action="/users/create-session" method="POST">
    <p>Email</p>
    <input type="email" name="email" placeholder="Email"  required>
    <p>Password</p>
    <input type="password" name="password" placeholder="Password"  required>
    <input type="submit" value="Sign In">
    <a href="#">Forget Password</a>

</form>

</div>



<!--

<body>
		<div class="loginBox">
			<img src="user.png" class="user">
			<h2>Log In Here</h2>
			<form action="/users/create-session" method="POST">
				<p>Email</p>
				<input type="email" name="email" placeholder="Email"  required>
				<p>Password</p>
				<input type="password" name="password" placeholder="Password"  required>
				<input type="submit" value="Sign In">
				<a href="#">Forget Password</a>
			</form>
		</div>
    </body>
    
-->