
<link rel="stylesheet" href="/css/user_sign_up.css">

<div class="loginBox">
        <img src="/images/LoginIconAppl.png" class="user">
        <h2>Sign Up Here</h2>

<form action="/users/create" method="POST">
            <p>Full Name</p>
            <input type="text" name="name" placeholder="Your Name" required>
            <p>Email</p>
            <input type="email" name="email" placeholder="Your Email" required>
            <p>Password</p>
            <input type="password" name="password" placeholder="Password" required>
            <p>Confirm Password</p>
            <input type="password" name="confirm_password" placeholder="Confirm Password" required>
            <input type="submit" value="Sign Up">
</form>


